import(Rtsne)
importFrom(ggplot2,ggplot,aes,geom_point,stat_density,theme_light,ggtitle,theme,element_text)
importFrom(scales,hue_pal)
import(plotly)
import(parallel)
import(doParallel)
import(foreach)
export(selectVariables)
export(modelTsne)
export(doTsneWithReference)
export(plotTsne)
